@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-text-accent: #6851ff;
  --color-text-paragraph: #b5b8cb;
  --color-text-disabled: #717788;

  --color-main-white: #ffffff;
  --color-main-black: #000929;

  --color-secondary: ;
  --color-secondary-50: ;
  --color-secondary-100: #8b8aff;
  --color-secondary-200: ;
  --color-secondary-300: #8b8aff;
  --color-secondary-400: ;
  --color-secondary-500: #6851ff;
  --color-secondary-600: #3d1efe;
  --color-secondary-700: ;
  --color-secondary-800: #3118d6;
  --color-secondary-900: ;
  --color-secondary-1000: #2511ae;

  --color-base-50: ;
  --color-base-100: ;
  --color-base-200: #eaecf4;
  --color-base-300: #d6d8e5;
  --color-base-400: ;
  --color-base-500: ;
  --color-base-600: ;
  --color-base-700: ;
  --color-base-800: ;
  --color-base-900: ;
  --color-base-950: ;
  --color-base-1000: #000000;
}

@layer utilities {
  body {
    font-family: var(--font-plusjakartasans), Helvetica, sans-serif;
  }
}
